.button {
  line-height: 50px;
  background-color: $brand-color;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  padding: 0px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  overflow: hidden;

  @media screen and (max-width: 991px) {
    font-size: 14px;
  }

  &:hover {
    background-color: lighten($brand-color, 5%);
    color: #fff;
  }

  &.button-brand {
    background-color: $brand-color;
    box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.2), 5px 5px 15px 5px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: lighten($brand-color, 5%);
      color: #fff;
    }
  }

  &.button-second {
    background-color: #214185;
    box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.2), 5px 5px 15px 5px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: lighten(#214185, 5%);
      color: #fff;
    }
  }


  &.button-normal {
    box-shadow: none;
    font-weight: 400;
    font-size: 18px;
  }

  &.button-small {
    line-height: 40px;
    padding: 0px 20px;
    box-shadow: none;
  }

  &.button-dark {
    background-color: #000;

    &:hover {
      background-color: lighten(#000, 10%);
      color: #fff;
    }
  }

  &.button-cyan {
    background-color: $cyan;

    &:hover {
      background-color: lighten($cyan, 10%);
      color: #fff;
    }
  }



  &.button-border {
    background-color: transparent;
    color: $text-color;
    border: 1px solid $text-color;

    &:hover {
      background-color: $text-color;
      color: #fff;
    }
  }

  &.button-link {
    background-color: transparent;
    color: #fff;
    box-shadow: none;

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }

  &.button-effect {
    position: relative;

    transition: all ease 0.3s;
    // overflow: hidden;
    overflow: hidden;

    &:before {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 30px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10px 50% 50% 10px;
      transform: scale(0, 1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
    }

    &:hover {

      padding: 0px 20px 0px 40px;

      &:before {
        transform: scale(1, 1);
        text-indent: 0;
      }
    }

    &.button-small {
      &:hover {
        padding: 0px 10px 0px 30px;

        &:before {
          transform: scale(1, 1);
          text-indent: 0;
        }
      }
    }
  }
}

.db-field {
  margin-bottom: 25px;

  .caption {
    font-size: 15px;
    margin: 0px 0px 5px 0px;
  }
}

.input {
  display: block;
  width: 100%;
  height: 58px;
  border: none;
  background-color: #E8F1FF;
  outline: none;
  padding: 0px 15px;
  font-size: 16px;
  transition: all ease 0.3s;
  border-radius: 5px;

  &:focus {
    background-color: darken(#E8F1FF, 10%);
  }

  &.is-large {
    padding: 0px 15px;
    height: 40px;
    font-size: 15px;
  }

}

.select {
  display: block;
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: solid 1px $border-color;
  background-color: #fff;
  outline: none;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  transition: all ease 0.3s;
  font-weight: 300;
}

.textarea {
  display: block;
  width: 100%;
  height: 135px;
  border: none;
  background-color: #E8F1FF;
  outline: none;
  padding: 15px 15px;
  font-size: 16px;
  transition: all ease 0.3s;
  border-radius: 5px;

  &:focus {
    background-color: darken(#E8F1FF, 10%);
  }
}

.radio {
  display: inline-block;
  position: relative;
  min-height: 35px;
  margin: 0px 20px 0px 0px;

  label {
    margin: 0px;
    padding: 0px;
    display: block;

    input {
      width: 1px;
      height: 1px;
      position: absolute;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }

    span {
      display: block;
      line-height: 30px;
      padding: 0px 0px 0px 30px;
      font-size: 16px;
      color: $text-color;
      cursor: pointer;
      transition: all ease 0.3s;
      line-height: 26px;

      &:before {
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        border: 2px solid #f1f1f1;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 0px;
      }

      &:hover {
        color: $brand-color;
      }
    }

    input:checked ~ span {
      &:after {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        background-color: #333;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
}

.checkbox {
  display: inline-block;
  position: relative;

  label {
    margin: 0px;
    padding: 0px;
    display: block;

    input {
      width: 1px;
      height: 1px;
      position: absolute;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }

    span {
      display: block;
      line-height: 30px;
      padding: 0px 0px 0px 20px;
      font-size: 16px;
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid $brand-color;
        position: absolute;
        top: 5px;
        left: 0px;
      }
    }

    input:checked ~ span {
      &:after {
        content: "";
        display: block;
        width: 11px;
        height: 10px;
        top: 8px;
        position: absolute;
        left: 2px;
        background-color: $brand-color;
      }
    }
  }
}

// color
.color-brand {
  color: $brand-color;
}

.color-second {
  color: $brand-second;
}

.color-third {
  color: $brand-third;
}

.color-red {
  color: $red;
}

.color-green {
  color: $green;
}

.color-blue {
  color: $blue;
}

.color-yellow {
  color: $yellow;
}

.color-orange {
  color: $orange;
}

.color-pink {
  color: $red;
}

.color-pink {
  color: $red;
}

.color-black {
  color: $black;
}

.color-white {
  color: $white;
}

//text color
.text-base {
  color: $text-color;
}

.text-second {
  color: $text-second;
}

.text-third {
  color: $text-third;
}

.text-error {
  @extend .color-red;
}

.text-success {
  @extend .color-green;
}

//text color
.bg-brand {
  color: $brand-color;
}

.bg-second {
  color: $brand-second;
}

.bg-third {
  color: $brand-third;
}

// error success color
.text-error {
  @extend .color-red;
}

.text-success {
  @extend .color-green;
}

/***/
.clearfix {
  clear: both;
}

.row-fix {
  margin-left: -10px;
  margin-right: -10px;

  .col-fix {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/***/

.font-bold {
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

